<app-header [projects_activate]="value_projects"></app-header>
<!--Content-->

<section style="width: 100%;">
    <mat-card fxFlex style="width: 33%;">
        <mat-card style="background-color: #ecd49e;color: #424b53;">
            Projet Symfony
        </mat-card>
        <mat-card >
            <img style="width:12vw;height: 12vw;"  src="assets/image/tag1.svg">
        </mat-card>
    </mat-card>
    <mat-card fxFlex style="width: 33%;">
        <mat-card style="background-color: #ecd49e;color: #424b53;">
            Projet PHP simple
        </mat-card>
        <mat-card>
            <img style="width:12vw" src="assets/image/tag2.svg">
        </mat-card>
    </mat-card>
    <mat-card fxFlex style="width: 33%;">
        <mat-card style="background-color: #ecd49e;color: #424b53;">
            Projet ANgular
        </mat-card>
        <mat-card>
            <img style="width:12vw" src="assets/image/tag3.svg">
        </mat-card>
    </mat-card>
    <mat-card fxFlex style="width: 33%;">
        <mat-card style="background-color: #ecd49e;color: #424b53;">
            Projet Jquery
        </mat-card>
        <mat-card>
            <img style="width:12vw" src="assets/image/tag2.svg">
        </mat-card>
    </mat-card>
</section>
<section style="width: 100%;">
    <mat-card fxFlex style="width: 33%;">
        <mat-card style="background-color: #ecd49e;color: #424b53;">
            Projet AJAX
        </mat-card>
        <mat-card >
            <img style="width:12vw;height: 12vw;"  src="assets/image/tag1.svg">
        </mat-card>
    </mat-card>
    <mat-card fxFlex style="width: 33%;">
        <mat-card style="background-color: #ecd49e;color: #424b53;">
            Projet Centre
        </mat-card>
        <mat-card>
            <img style="width:12vw" src="assets/image/tag2.svg">
        </mat-card>
    </mat-card>
    <mat-card fxFlex style="width: 33%;">
        <mat-card style="background-color: #ecd49e;color: #424b53;">
            Projet Aps
        </mat-card>
        <mat-card>
            <img style="width:12vw" src="assets/image/tag3.svg">
        </mat-card>
    </mat-card>
    <mat-card fxFlex style="width: 33%;">
        <mat-card style="background-color: #ecd49e;color: #424b53;">
            Projet 1
        </mat-card>
        <mat-card>
            <img style="width:12vw" src="assets/image/tag2.svg">
        </mat-card>
    </mat-card>
</section>
<section style="width: 100%;">
    <mat-card fxFlex style="width: 33%;">
        <mat-card style="background-color: #ecd49e;color: #424b53;">
            Projet 1
        </mat-card>
        <mat-card >
            <img style="width:12vw;height: 12vw;"  src="assets/image/tag1.svg">
        </mat-card>
    </mat-card>
    <mat-card fxFlex style="width: 33%;">
        <mat-card style="background-color: #ecd49e;color: #424b53;">
            Projet 1
        </mat-card>
        <mat-card>
            <img style="width:12vw" src="assets/image/tag2.svg">
        </mat-card>
    </mat-card>
    <mat-card fxFlex style="width: 33%;">
        <mat-card style="background-color: #ecd49e;color: #424b53;">
            Projet 1
        </mat-card>
        <mat-card>
            <img style="width:12vw" src="assets/image/tag3.svg">
        </mat-card>
    </mat-card>
    <mat-card fxFlex style="width: 33%;">
        <mat-card style="background-color: #ecd49e;color: #424b53;">
            Projet 1
        </mat-card>
        <mat-card>
            <img style="width:12vw" src="assets/image/tag2.svg">
        </mat-card>
    </mat-card>
</section>
<section style="width: 100%;">
    <mat-card fxFlex style="width: 33%;">
        <mat-card style="background-color: #ecd49e;color: #424b53;">
            Projet 1
        </mat-card>
        <mat-card >
            <img style="width:12vw;height: 12vw;"  src="assets/image/tag1.svg">
        </mat-card>
    </mat-card>
    <mat-card fxFlex style="width: 33%;">
        <mat-card style="background-color: #ecd49e;color: #424b53;">
            Projet 1
        </mat-card>
        <mat-card>
            <img style="width:12vw" src="assets/image/tag2.svg">
        </mat-card>
    </mat-card>
    <mat-card fxFlex style="width: 33%;">
        <mat-card style="background-color: #ecd49e;color: #424b53;">
            Projet 1
        </mat-card>
        <mat-card>
            <img style="width:12vw" src="assets/image/tag3.svg">
        </mat-card>
    </mat-card>
    <mat-card fxFlex style="width: 33%;">
        <mat-card style="background-color: #ecd49e;color: #424b53;">
            Projet 1
        </mat-card>
        <mat-card>
            <img style="width:12vw" src="assets/image/tag2.svg">
        </mat-card>
    </mat-card>
</section>
<!--End-->
<app-footer></app-footer>